@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica.woff2') format('woff2'),
        url('fonts/subset-Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-BoldOblique.woff2') format('woff2'),
        url('fonts/subset-Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-HelveticaRounded-Bold.woff2') format('woff2'),
        url('fonts/subset-HelveticaRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-Compressed.woff2') format('woff2'),
        url('fonts/subset-Helvetica-Compressed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica.woff2') format('woff2'),
        url('fonts/subset-Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-Bold.woff2') format('woff2'),
        url('fonts/subset-Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-Light.woff2') format('woff2'),
        url('fonts/subset-Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-Oblique.woff2') format('woff2'),
        url('fonts/subset-Helvetica-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}







/***************************/
/*        WEBSITE          */
/***************************/








body {
    background-color: #131210;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the body height to full viewport height */
    overflow: hidden; /* Lock the page so you can't scroll */
}

#header {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 20px;
}

#header h1 {
    font-size: 3pc; /* Increase the font size for the heading */
    color: #78836d;
    margin: 0; /* Remove any default margin */
    font-family: 'Helvetica';
    font-weight: 600;
    top: 0%;
}

.progress-bar {
    overflow: hidden;
    border: 0;
    border-radius: 5px;
    width: 60%; /* Make the percentage bar smaller */
    height: 25px;
    background-color: #f0f0f0;
    margin: 0 auto; /* center in the middle of the page */
    box-shadow: 0 0 10px rgba(139, 170, 109, 0.377);
}

.progress {
    border: 0;
    height: 100%;
    background-color: #78836d;
    width: 0%;
    transition: width 1s ease-out;
}

#percentage {
    font-family: Helvetica;
    font-weight: 600;
    text-align: center; /* Center the text horizontally */
    position: absolute; /* Enable positioning */
    top: 42%; /* Position the element at the vertical center */
    left: 50%; /* Position the element at the horizontal center */
    transform: translate(-50%, -50%); /* Center the element precisely */
    font-size: 1.5pc; /* Adjust the font size */
    color: #78836d; /* Adjust the text color */
}

/***************************/
/*        confetti         */
/***************************/
