@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica.woff2') format('woff2'),
        url('fonts/subset-Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-BoldOblique.woff2') format('woff2'),
        url('fonts/subset-Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-HelveticaRounded-Bold.woff2') format('woff2'),
        url('fonts/subset-HelveticaRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-Compressed.woff2') format('woff2'),
        url('fonts/subset-Helvetica-Compressed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica.woff2') format('woff2'),
        url('fonts/subset-Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-Bold.woff2') format('woff2'),
        url('fonts/subset-Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-Light.woff2') format('woff2'),
        url('fonts/subset-Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/subset-Helvetica-Oblique.woff2') format('woff2'),
        url('fonts/subset-Helvetica-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}







/***************************/
/*        WEBSITE          */
/***************************/








body {
    background-color: #131210;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the body height to full viewport height */
    overflow: hidden; /* Lock the page so you can't scroll */
}

#header {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 20px;
}

#header h1 {
    font-size: 3pc; /* Increase the font size for the heading */
    color: #78836d;
    margin: 0; /* Remove any default margin */
    font-family: 'Helvetica';
    font-weight: 600;
    top: 0%;
}

.progress-bar {
    overflow: hidden;
    border: 0;
    border-radius: 5px;
    width: 60%; /* Make the percentage bar smaller */
    height: 25px;
    background-color: #f0f0f0;
    margin: 0 auto; /* center in the middle of the page */
    box-shadow: 0 0 10px rgba(139, 170, 109, 0.377);
    background-color: #f0f0f0;
}

.progress {
    border: 0;
    height: 100%;
    background-color: #78836d;
    width: 0%;
    transition: width 1s ease-out;
    transition: width 1s ease-out, background-color 0.5s ease; /* Add transition property for width and background-color */
}

#percentage {
    font-family: Helvetica;
    font-weight: 600;
    text-align: center; /* Center the text horizontally */
    position: absolute; /* Enable positioning */
    top: 42%; /* Position the element at the vertical center */
    left: 50%; /* Position the element at the horizontal center */
    transform: translate(-50%, -50%); /* Center the element precisely */
    font-size: 1.5pc; /* Adjust the font size */
    color: #78836d; /* Adjust the text color */
    transition: color 0.5s ease; /* Add transition property for the color */
}

/***************************/
/*        themes           */
/***************************/

#theme-picker {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #131210;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    font-weight: bold;
    color: #78836d;
}

.theme-button theme1{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Add border-radius to make the buttons rounded */
}

.theme-button theme2{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Add border-radius to make the buttons rounded */
}

.theme-button theme3{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Add border-radius to make the buttons rounded */
}

.theme-button.theme1,
.theme-button.theme2,
.theme-button.theme3 {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 25%; /* Add border-radius to make the buttons rounded */
}

.theme-button.theme1 {
    background-color: #78836d; 
}

.theme-button.theme2 {
    background-color: #689c4f; 
}

.theme-button.theme3 {
    background-color: #327B8B;
}

.theme1,
.theme2,
.theme3 {
    transition: background-color 0.5s ease; /* Add transition property to create a smooth transition effect */
}

/* THEME PICKER */

    /* Olive */
    .theme1 #theme-picker {
        background-color: #131210;
        color: #78836d;
        }

        /* Lime */
        .theme2 #theme-picker {
          background-color: #DDEAD6;
          color: #689c4f;
        }

        /* Dark Abyss */
        .theme3 #theme-picker {
          background-color: #0F1111;
          color: #327B8B;
    }   


/* THEME BODY */

    /* Olive */
    .theme1 {
        background-color: #131210;
        color: #78836d;
        }

        /* Lime */
        .theme2 {
          background-color: #DDEAD6;
          color: #689c4f;
        }

        /* Dark Abyss */
        .theme3 {
          background-color: #0F1111;
          color: #327B8B;
    }   

/* TEXT COLOUR */

      /* Olive */
    .theme1 #percentage {
            color: #78836d; /* Change text color for Olive */
        }

        /* Lime */
        .theme2 #percentage {
            color: #689c4f; /* Change text color for Lime */
        }

        /* Dark Abyss */
        .theme3 #percentage {
            color: #327B8B; /* Change text color for Dark Abyss */
    }

/* PROGRESS BAR */

      /* Olive */
      .theme1 .progress {
        background-color: #78836d; /* Change progress color for Olive */
    }

    /* Lime */
    .theme2 .progress {
        background-color: #689c4f; /* Change progress color for Lime */
    }

    /* Dark Abyss */
    .theme3 .progress {
        background-color: #327B8B; /* Change progress color for Dark Abyss */
    }

/* PROGRESS BAR BACKGROUND */

      /* Olive */
      .theme1 .progress-bar {
        box-shadow: 0 0 10px rgba(139, 170, 109, 0.377);
        background-color: #f0f0f0;
    }

    /* Lime */
    .theme2 .progress-bar {
        box-shadow: 0 0 10px rgba(130, 195, 99, 0.377);
        background-color: #f0f0f0;
    }

    /* Dark Abyss */
    .theme3 .progress-bar {
        box-shadow: 0 0 10px rgba(50, 123, 139, 0.377);
        background-color: #f0f0f0;
    }


/* HEADER TEXT */

      /* Olive */
      .theme1 #header h1 {
        color: #78836d; /* Change header text color for Olive */
    }

    /* Lime */
    .theme2 #header h1 {
        color: #689c4f; /* Change header text color for Lime */
    }

    /* Dark Abyss */
    .theme3 #header h1 {
        color: #327B8B; /* Change header text color for Dark Dark Abyss */
    }

/* HEADER TEXT */

      /* Olive */
      .theme1 #header h1 {
        color: #78836d; /* Change header text color for Olive */
    }

    /* Lime */
    .theme2 #header h1 {
        color: #689c4f; /* Change header text color for Lime */
    }

    /* Dark Abyss */
    .theme3 #header h1 {
        color: #327B8B; /* Change header text color for Dark Dark Abyss */
    }

/***************************/
/*       animations        */
/***************************/

.animation-text{
    font-family: Helvetica;
    font-weight: 600;
    text-align: center; /* Center the text horizontally */
    position: absolute; /* Enable positioning */
    top: 50%; /* Position the element at the vertical center */
    left: 50%; /* Position the element at the horizontal center */
    transform: translate(-50%, -50%); /* Center the element precisely */
    color: #ffffff; /* Adjust the text color */
    font-size: 100px;
    opacity: 0; /* Hidden initially */
}
  
/* Define the animation */
@keyframes fadeAndZoom {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1,2);
    }
    100% {
      opacity: 0;
      transform: scale(1,4);
    }
  }

/* Apply animation when 'animate' class is added */
.animate {
    animation: fadeAndZoom 4s ease-in-out;
  }